# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version


# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Project specific
data/*.npy
data/data_train.csv
data/data_valid.csv
models/

